<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/images/favicon.png" type="image/png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <title>Inner Circle</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <img class="logo" src="images/logo.png" alt="logo" />
    <div class="main--content">
      <% if(!user) {%>
      <div class="btns--section">
        <a href="/log-in"><button class="log--btn">Log In</button></a>
        <a href="/register"><button class="register--btn">Register</button></a>
      </div>
      <%} else {%>
      <a class="logout--btn" href="/log-out">Log Out</a>
      <% };%>
      <hr />

      <section class="messages--cont">
        <% messages.forEach(message => {%> <%- include("partials/message",
        {message: message, user: user || false}) %> <% })%>
      </section>

      <% if(user) {%>
      <hr />
      <form class="send--form" action="/" method="POST">
        <textarea
          name="message"
          id="message"
          placeholder="Type message here"
        ></textarea>
        <button class="send--btn">Send</button>
      </form>
      <% };%>
    </div>
    <%- include("partials/footer") %>
  </body>
</html>
